body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #003049;
  color: #fdf0d5;
  text-align: center;
}

.container {
  width: 400px;
  background-color: #669bbc;
  padding: 20px;
  border-radius: 10px;
}

h1 {
  color: #014f86;
  font-weight: bold;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 20px;
}

.todo-input {
  display: flex;
  margin: 10px;
}

#todo-input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #003049;
  border-radius: 5px;
}

#add-btn {
  background: #5aa9e6;
  color: #014f86;
  font-weight: bold;
  margin-left: 5px;
  padding: 10px 15px;
  border: 1px solid #003049;
  border-radius: 5px;
  cursor: pointer;
}

#add-btn:hover {
  background: #338dd3;
  color: #014f86;
}

.delete-btn {
  background: #ea0d1c;
  color: #fdf0d5;
  height: 30px;
  width: 30px;
  text-align: center;
  border-radius: 50%;
  padding: 4px 10px;
  cursor: pointer;
}

.delete-btn:hover {
  background: #c10814;
}

#todos-list {
  list-style: none;
  padding: 0;
}

#todos-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #003049;
  border-radius: 5px;
}

.todo-text {
  flex-grow: 1;
  font-size: 1.4rem;
}

#todo-counter {
  color: #003049;
}

.checked {
  text-decoration: line-through;
  color: #666;
}
